# Linux default
export INOIO_DOCKER_IP=localhost

if command -v boot2docker >/dev/null; then
   export INOIO_DOCKER_IP=`boot2docker ip`
fi

# adjust these settings
export INOIO_KAFKA_IP=$INOIO_DOCKER_IP:32777
export INOIO_ZK_IP=$INOIO_DOCKER_IP:2181
export PATH=$PATH:`pwd`/target/universal/stage/bin
